APP_NAME=HR AI Agent Backendd
APP_ENV=development
DATABASE_URL=sqlite:///./hr_ai_agent.db
OPENAI_API_KEY=openai_api_key_your_version
GEMINI_API_KEY=gemini_api_key_your_version
AI_PROVIDER=openai
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USERNAME=your_email@exmaple.com
EMAIL_PASSWORD=any_password
EMAIL_FROM=your_email@example.com
SCRET_KEY=any_scret_key
ACCESS_TOKEY_EXPIRE_MINUTES=60